/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 103%;
  width: 100%;
  margin: 0;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.city-image {
  background-image: url(/images/hallstatt-g5751a4938_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
@media only screen and (min-width: 1205px) {
  .city-image {
    height: 100%;
  }
}

.web-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url(/images/hallstatt-g5751a4938_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.web-container .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.web-container .nav-bar img {
  max-width: 40%;
  padding: 10px 10px 0 10px;
}
@media only screen and (min-width: 1205px) {
  .web-container .nav-bar .hamburger-image {
    display: none;
  }
  .web-container .nav-bar img {
    max-width: 25%;
    padding: 20px 0 0 20px;
  }
}
.web-container .nav-bar .nav-list {
  display: none;
}
@media only screen and (min-width: 1205px) {
  .web-container .nav-bar .nav-list {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
  }
  .web-container .nav-bar .nav-list ul {
    display: flex;
    flex-direction: row;
  }
  .web-container .nav-bar .nav-list ul li {
    padding: 5px;
    margin: 10px;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
  }
  .web-container .nav-bar .nav-list ul .main-nav-items:hover {
    text-decoration: underline #ff7757;
    text-underline-offset: 0.5rem;
  }
  .web-container .nav-bar .nav-list ul button {
    font-size: 1.3rem;
    background-color: #ff7757;
    border: 3px solid transparent;
    border-radius: 10px;
    color: #fff;
    height: 30px;
    cursor: pointer;
    width: 120%;
    height: 130%;
  }
  .web-container .nav-bar .nav-list ul button:hover {
    background-color: #ffd2c7;
    border: 3px solid #ff7757;
    color: #ff7757;
  }
}
.web-container .header-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40%;
  margin: 20px 0 40px;
  padding: 15px;
  color: #fff;
}
.web-container .header-container h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 30px;
  word-spacing: 5px;
  font-family: "Playfair Display", serif;
}
.web-container .header-container h2 {
  font-size: 1.2rem;
  font-family: "Rubik", sans-serif;
}
@media only screen and (min-width: 1205px) {
  .web-container .header-container {
    width: 90%;
    justify-content: center;
    margin: 60px 0 40px;
  }
  .web-container .header-container h1 {
    font-size: 4rem;
  }
  .web-container .header-container h2 {
    font-size: 2rem;
  }
}
.web-container .booking-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 90%;
  height: 30%;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  font-family: "Playfair Display", serif;
}
.web-container .booking-container .booking-info {
  text-align: left;
  width: 80%;
  padding: 10px;
  line-height: 3;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}
.web-container .booking-container .booking-info .line {
  border-bottom: 0.8px solid #9e9e9e;
  width: 80%;
}
.web-container .booking-container .booking-button {
  width: 100%;
}
.web-container .booking-container .booking-button button {
  width: 100%;
  height: 80px;
  background-color: #ff7757;
  border-radius: 0 0 20px 20px;
  color: #fff;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.web-container .booking-container .booking-button button:hover {
  background-color: #ffd2c7;
  color: #ff7757;
  font-size: 1.7rem;
  border: 3px solid #ff7757;
  transition: 0.5s;
}
@media only screen and (min-width: 1205px) {
  .web-container .booking-container {
    flex-direction: row;
    width: 90%;
    height: 25%;
  }
  .web-container .booking-container .booking-info {
    flex-direction: row;
    width: 100%;
    margin: 0 15px;
  }
  .web-container .booking-container .booking-info .booking-item {
    padding: 0 15px 0 15px;
    margin: 0 35px;
  }
  .web-container .booking-container .booking-info .booking-item .line {
    width: 100%;
  }
  .web-container .booking-container .booking-button {
    width: 25%;
    height: 100%;
  }
  .web-container .booking-container .booking-button button {
    width: 100%;
    height: 100%;
    border-radius: 0 20px 20px 0;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  color: #fff;
  background-color: #172432;
  font-family: "Rubik", sans-serif;
}
.footer-container .footer-logo {
  line-height: 2;
}
.footer-container .footer-logo img {
  display: flex;
  text-align: center;
  padding: 2.6rem 1.3rem 0.6rem;
}
.footer-container .footer-logo h2 {
  font-size: 0.7rem;
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
  margin-bottom: 20px;
}
.footer-container .menu,
.footer-container .information,
.footer-container .contact-info,
.footer-container .social-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
  height: 20%;
}
.footer-container .menu h3,
.footer-container .information h3,
.footer-container .contact-info h3,
.footer-container .social-container h3 {
  margin: 8px 0;
  font-size: 1.5rem;
  font-weight: bold;
}
.footer-container .contact-info-list,
.footer-container .information-list,
.footer-container .menu-list {
  font-size: 1.1rem;
  padding: 8px 0;
  line-height: 1.5;
}
.footer-container .contact-info-list a,
.footer-container .information-list a,
.footer-container .menu-list a {
  text-decoration: none;
  color: #fff;
}
.footer-container .social-networks {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 20px;
  width: 60%;
  justify-content: space-around;
}
.footer-container .social-networks img {
  padding: 10px;
}
@media only screen and (min-width: 1205px) {
  .footer-container {
    max-height: 40%;
    flex-direction: row;
    justify-content: space-evenly;
    line-height: 3;
  }
  .footer-container .footer-logo {
    line-height: 3;
  }
  .footer-container .footer-logo h2 {
    font-size: 1rem;
  }
  .footer-container .contact-info-list,
  .footer-container .information-list,
  .footer-container .menu-list {
    font-size: 1.2rem;
    padding: 8px 0;
    line-height: 1.5;
  }
}

/*# sourceMappingURL=styles.css.map */
